{% assign current_lang = page.lang | default: "en" %}
{% assign nav_root = page.nav_root | default: "/" %}
{% if current_lang == "zh" %}
  {% assign nav_items = site.data.navigation_zh.main %}
  {% assign home_label = "首页" %}
  {% assign switch_label = "EN" %}
{% else %}
  {% assign nav_items = site.data.navigation.main %}
  {% assign home_label = "Homepage" %}
  {% assign switch_label = "中文" %}
{% endif %}
{% assign switch_url = page.alternate_url %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="{{ nav_root }}#about-me">{{ home_label }}</a></li>
          {% for link in nav_items %}
            <li class="masthead__menu-item"><a href="{{ nav_root }}{{ link.anchor }}">{{ link.title }}</a></li>
          {% endfor %}
          {% if switch_url %}
            <li class="masthead__menu-item"><a href="{{ switch_url }}">{{ switch_label }}</a></li>
          {% endif %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
